
/* Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal */
.booking-modal {
  background: #fff;
  width: 480px;
  border-radius: 14px;
  padding: 20px;
  position: relative;
}

/* Close */
.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

/* Movie Info */
.movie-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.movie-info img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

/* Screen */
.screen {
  position: relative;
  text-align: center;
  padding: 12px 0;
  margin: 20px auto 30px;
  width: 80%;

  background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
  color: #555;
  font-weight: 600;

  border-radius: 0 0 120px 120px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

  letter-spacing: 2px;
}


/* Seats */
.seats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.seat-row {
  display: flex;
  gap: 10px;
}

.seat {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 13px;
}

.seat:hover {
  background: #e3f2fd;
}

.seat.selected {
  background: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

/* Summary */
.booking-summary {
  border-top: 1px solid #eee;
  padding-top: 15px;
  text-align: center;
}

.confirm-btn {
  margin-top: 10px;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  background: #c8484e;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.confirm-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
